<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="poll_form">
        <%= render 'polls/form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Poll Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
<h1>Welcome to This or That</h1>
<%= link_to "Sign Up Nooooowwwww!!!!!!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>
