<% provide(:title, @user.name) %>

<div class="row mt-3">
  <div class="col-md-2">
    <!-- Profile image and name, followers -->
    <%= gravatar_card_for @user %>
    <h2 class="text-center"><%= @user.name %></h2>

    <h5 class="text-center mt-3">Followers (<%= @user.followers.size %>)</h5>
    <ul class="list-group list-group-flush">
      <% @user.followers.limit(5).each do |follower| %>
        <li class="list-group-item"><%= link_to follower.name, user_path(follower.id) %></li>
      <% end %>
    </ul>


    <h5 class="text-center mt-3">Following (<%= @user.following.size %>)</h5>
    <ul class="list-group list-group-flush">
      <% @user.following.limit(5).each do |following| %>
        <li class="list-group-item"><%= link_to following.name, user_path(following.id) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-7">
    <!-- Polls -->
    <h4 class="mb-4">Polls</h4>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Created (<%= @user.polls.count %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Voted For (<%= @user.voted_for_polls.count %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Following Polls(<%= @following_polls.count %>)</a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent" style="padding: 10px; border-radius: 3px; background-color: #F8F9FA;">

      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <% if @user.polls.any? %>
          <div class="row">
            <%= render @polls %>
          </div>
        <% else %>
          <h4><%= @user.name %> has not created any polls yet!</h4>
        <% end %>
      </div>

      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <% if @voted_for_polls.any? %>
          <div class="row">
            <%= render @voted_for_polls %>
          </div>
        <% else %>
          <h4><%= @user.name %> has not voted for any polls yet!</h4>
        <% end %>
      </div>

      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
       <% if @following_polls.any? %>
          <div class="row">
            <%= render @following_polls %>
          </div>
        <% else %>
          <h4><%= @user.name %> isn't following anyone who has created any polls yet!</h4>
        <% end %>
      </div>
    </div>

  </div>

  <div class="col-md-3">
  <!-- Feed -->
  <h4 class="mb-4">Global Feed</h4>

    <% @global_feed.each do |poll| %>
      <div class="row mt-3">
        <div class="col-4">
          <%= image_tag poll.picture? ? poll.picture.url : "http://placehold.it/200/200", class: 'rounded mx-auto d-block img-fluid', style: "overflow: hidden;object-fit: contain;"%>
        </div>
      <div class="col-8">
        <%= link_to poll_path(poll) do %>
         <h5 style="overflow: hidden;"><%= poll.title.truncate(30) %></h5>
        <% end %>
         <div class="timestamp">
    <small>Posted <%= time_ago_in_words(poll.created_at) %> ago by <%= link_to poll.user.name, poll.user %></small><br/>
  </div>
        </div>
      </div>
    <% end %>

  </div>
</div>



