<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Option1:</strong>
  <%= @poll.option1 %>
</p>

<p>
  <strong>Option2:</strong>
  <%= @poll.option2 %>
</p>

<p>
  <strong>Option3:</strong>
  <%= @poll.option3 %>
</p>

<p>
  <strong>Option4:</strong>
  <%= @poll.option4 %>
</p>

<p>
  <strong>Option5:</strong>
  <%= @poll.option5 %>
</p>

<p>
  <strong>Option6:</strong>
  <%= @poll.option6 %>
</p>

<p>
  <strong>User:</strong>
  <%= @poll.user %>
</p>
<% if current_user?(@poll.user) %>
<%= link_to 'Edit', edit_poll_path(@poll) %> |
<% end %>
<%= link_to 'Back', polls_path %>
